.rooms {
  display: flex;

  align-content: stretch;
  flex-direction: row;
  gap: 12px;
  border: 1px solid black;
  border-radius: 5px;

  .room{
    width: 200px;
  }
  .temperature {
    display: flex; flex-direction: column; gap: 2px
  }
}
