:host{

  .buttons {
    display: flex;
    gap: 1rem;
  }

.temperatures{
  .temperature {
    width: 493px;
      background-color: dodgerblue;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
  }
}
}

