<mat-card class="characters">
  <mat-card-header>
    <mat-card-title>{{ pageTitle }}</mat-card-title>
  </mat-card-header>
  @if (characters$ | async; as characters){
  <mat-card-content>
    @for (c of characters; track $index) {
    <button
      mat-button
      (click)="onSelected(c.id)"
      [ngClass]="{ selected: c.id === (selectedCharacter$ | async)?.id }"
    >
      {{ c.name }}
    </button>
    }
  </mat-card-content>
  } @else {
  <mat-card-content> Ups! No characters found... :'( </mat-card-content>
  }
</mat-card>
